.lux-sec {
  position: relative;
  min-height: 600px;
  background-color: #faf2e6;
  z-index: 2;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 60px 0 5rem 0;
}

.lux-sec::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50%;
  background-color: #faf2e6;
  z-index: -1;
}

.lux-sec::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40%;
  background-color: #f9fdfe;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.lux-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto  auto;
  padding: 0 40px;
}

.lux-title {
  font-family: "Playfair Display", serif;
  font-size: 48px;
  font-weight: 400;
  color: #232323;
  letter-spacing: 1px;
}

.lux-btn {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #8b6f3d;
  background: transparent;
  border: 1.5px solid #8b6f3d;
  border-radius: 999px;
  padding: 18px 40px;
  cursor: pointer;
  transition: background 0.2s, color 0.2s;
}

.lux-btn:hover {
  background: #8b6f3d;
  color: #fff;
}

.room-card {
  margin-top: 5rem !important;
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: center;
  align-items: stretch;
  margin: 0 auto;
  /* width: 100%; */
}

.image1 {
  position: relative;
  width: 100%;
}

.room-img {
  position: relative;
  width: 100%;
  max-width: 600px;
  height: 530px;
  max-height: 1500px;
  object-fit: cover;
  display: block;
  transition: transform 0.3s ease;
}

.room-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent 50%);
  color: #fff;
  transition: background 0.3s ease;
  display: flex;
  justify-self: center;
  flex-direction: column;
  justify-content: flex-end;
}

.room-info {
  display: flex;
  gap: 3rem;
  align-items: center !important;
  font-size: 0.9rem;
}

.room-info h2 {
  font-size: 1.7rem;
  margin-bottom: 0.4rem;
}

.room-icons {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  font-size: 0.95rem;
}

.room-icons span {
  font-size: 1.3rem;
}

.room-hover {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.5s ease;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.room-hover p {
  font-size: 1.3rem;
}

.image1:hover .room-hover {
  opacity: 1;
  transform: translateY(0);
}

.arrow {
  font-size: 2.3rem;
  margin-left: 1rem;
  font-weight: 400;
  opacity: 0.8;
}

@media (max-width: 768px) {
  .lux-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
    padding: 0 16px;
  }

  .room-card {
    flex-direction: column;
    gap: 1.5rem;
    padding: 0 16px;
  }

  .room-info {
    display: flex;
    gap: 0.5rem;
    justify-content: end !important;
    flex-direction: column;
    align-items: start !important;
  }

  .room-icons {
    align-items: start !important;
  }

  .room-hover {
    display: none;
  }
}


@media (max-width: 991px) {
  .lux-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
    padding: 0 16px;
  }

  .room-card {
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    padding: 0 16px;
  }

  .image1 {
    width: 100%;
    display: block;
    object-fit: cover;
  }

  .room-img {
    width: 100%;
    max-width: 100%;
    object-fit: cover;
  }

  .room-info {
    flex-direction: column;
    align-items: flex-start !important;
    gap: 0.5rem;
  }

  .room-icons {
    align-items: flex-start;
  }

  .room-hover {
    display: none;
  }
}
